.modal {
  position: absolute;
  top: 3.1rem;
  left: 34%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
  width: 400px;
  z-index: 2;
}
.modalContainer {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal__close_button {
  border: none;
  background: transparent;
  position: absolute;
  top: 25px;
  right: 16px;
  font-size: 14px;
  transition: all 0.3s ease;
  color: black;
  cursor: pointer;
}
.modal__close_button:hover {
  color: dodgerblue;
}

.btn_eraseField{
  border: none;
  border-radius: 4px;
  background-color: rgb(255, 107, 107);
  color: #fff;
  cursor: pointer;
  padding: .2rem .5rem;
  transition: all .3s ease;
}
.btn_eraseField:hover{
  background-color: rgb(192, 54, 54);
}
.success_container{
  text-align: center;
  padding: 2rem;
  animation: fadeIn .3s ease;
}

.illustration_container{
  width: 200px;
  margin: auto;
}.illustration_container img{
  width: 100%;
}
.success_container h1{
  color: rgb(5, 106, 207);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.success_container span{
  font-size: 13px;
  color: rgb(68, 68, 68);
}
.btn_continue{
  display: block;
  background-color: dodgerblue;
  color: #fff;
  cursor: pointer;
  border:none;
  border-radius: 19px;
  padding: .6rem 1.9rem;
  margin: auto;
  margin-top: 14px;
}