/*spends*/
.spend__section_title {
    font-weight: 300;
    font-size: 1.6rem;
    margin-top: 2.3rem;
    margin-bottom: 1.6rem;
}

/*Banner*/
.spend__create_banner {
    background: linear-gradient(200deg, dodgerblue, rgb(19, 91, 163));
    padding: 1.8rem;
    color: white;
    border-radius: 10px;
    margin-right: 30px;
    width: 42%;
    height: 12rem;
    position: relative;
    box-shadow: 4px 2px 6px rgba(19, 91, 163,0.5);
}

.spend__create_banner h2 {
    margin: 1rem 0;
}

.spend__create_banner span {
    font-size: 13px;
    width: 67%;
    line-height: 22px;
    display: block;
}

.spend__create_banner button {
    display: block;
    width: max-content;
    margin-top: 1.7rem;
    font-weight: 500;
    border: none;
    padding: 10px 22px;
    color: dodgerblue;
    border-radius: 15px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s linear;
}

.spend__create_banner button:hover {
    background-color: rgb(9, 53, 173);
    color: #fff;
}

.spend__banner_icon {
    position: absolute;
    top: 4rem;
    right: 2.2rem;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.7);
}

/*spend graphic section*/
.spend__graphic_section {
    display: block;
    margin-bottom: 9rem;
    margin-top: 4rem;
}

.spend__indicators {
    display: flex;
    justify-content: space-around;
    max-width: 77%;
    margin: 2rem auto 0 auto;
    height: 22rem;
}

.indicator_title {
    margin-top: 2.9rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

/*data list*/
.spend__dataList {
    list-style: none;
    padding: 0;
}

.dataList_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 11rem;
    padding: 1rem 0;
}

.percentage_displayer {
    margin-top: 2.1rem;
    margin-left: 2rem;
}

.dataList_color_reference {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 0.4rem;
    background: blue;
}

.dataList_pink {
    background: rgb(255, 99, 132);
}

.dataList_yellow {
    background: rgb(255, 205, 86);
}

.dataList_blue {
    background: rgb(54, 162, 235);
}

.data_percentage {
    font-weight: 500;
    display: inline;
    font-size: 1.7rem;
    position: relative;
}

.dataList_title {
    display: inline-block;
    margin-right: 1rem;
    font-size: 13px;
    margin-bottom: 0.6rem;
    color: var(--dark_grey);
}

.creation_and_frequents {
    display: flex;
}

.spend__frecuent_spends {
    width: 41%;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    box-shadow: 3px 2px 10px rgb(9, 39, 70,0.5);
}

.spend__frecuent_spends h2 {
    font-size: 1.12rem;
    margin: 0.7rem 0;
}

.spend__frecuent_spends ul {
    list-style: none;
    padding: 0;
}

.frecuent_spend_item {
    padding: 0.6rem 0;
    display: flex;
    align-items: center;
}

.frecuent_spend_data {
    flex: 1;
}

.item_title {
    font-size: 0.86rem;
    font-weight: 400;
    margin: 0 0 0.34rem 0;
    color: var(--dark_grey);
}

.progress_container {
    display: flex;
    align-items: center;
}

.progress_bar {
    width: 90%;
    height: 15px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: rgba(201, 201, 201,0.6);
}

.progress_container span {
    font-weight: bold;
}

.bar {
    border-radius: 8px;
    height: 100%;
    width: 70%;
    background: repeating-linear-gradient(45deg,
        rgba(255,255,255,0.11) 0 20px,
        transparent 20px 40px
        
        
    );
    background-size: 1rem 1rem;
}

.bar1 {
    background-color: dodgerblue;
}
.circle1{
    background-color: dodgerblue;
}

.bar2 {
    background-color: orange;
}
.circle2{
    background-color: orange;
}

.bar3 {
    background-color: rgb(220, 20, 87); 
}
.circle3{
    background-color: rgb(220, 20, 87);
}

.color_indicator {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-right: 14px;
}