/*Social media*/
.social__section{
    padding-top: 1rem;
}
.social_media {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 300px;
}

.flex_icons a {
    text-decoration: none;
    color: rgb(14, 136, 207);
    transition: all .3s ease;
}

.flex_icons a:hover {
    color: rgb(5, 27, 48);
}

.media_icon i {
    font-size: 85px;
    margin-bottom: 2px;
}

.media_icon span {
    display: block;
}