:root {
  --color1: rgb(16, 41, 180);
  --grey: rgb(167, 165, 165);
  --dark_grey: rgb(116, 116, 116);
  --sidebar: rgb(16, 101, 180);
  --sidebar_footer: rgb(5, 27, 48);
  --config: rgb(14, 73, 128);
  --purple: rgb(136, 101, 233);
  --orange: rgb(252, 166, 7);
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-app {
  text-align: center;
}
ul {
  margin: 0 !important;
}

/*Navigation*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 50px;
  margin: 0 auto;
}
.logo h2 {
  margin: 0;
  font-size: 25px;
}
.logo a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}
.logo a:hover {
  color: dodgerblue;
}
.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
@media screen and (max-width: 500px) {
  .nav_links {
    display: none;
  }
}
.nav_links li a.active {
  border-bottom: 2px solid rgb(2, 154, 255);
}
.nav_links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding: 7px 12px;
  cursor: pointer;
}
.nav_links li a:hover {
  color: dodgerblue;
}
.btn_logout {
  background: dodgerblue;
  border: none;
  color: #fff;
  padding: 7px 16px;
  border-radius: 18px;
  cursor: pointer;
  margin-left: 14px;
  transition: all 0.3s linear;
}
.btn_logout:hover {
  background: var(--color1);
}
/*main*/
.container {
  width: 94%;
  margin: auto;
}
main {
  min-height: 500px;
}
main h1 {
  font-size: 65px;
}

/*CARD*/
.login_card {
  border: 1px solid #ccc;
  margin: 1.6rem auto;
  width: min(68%, 350px);
  padding: 2rem 2.5rem;
  border-radius: 10px;
  height: auto;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}
.card_header {
  margin-bottom: 3rem;
}
.card_header h3 {
  color: rgb(27, 126, 226);
  font-size: 34px;
  margin: 0 0 2px 0;
  text-align: left;
}

.card_header span {
  font-size: 11px;
  color: rgb(134, 134, 134);
  top: 30px;
}
span.header_error {
  color: red;
  font-size: 13px;
  display: block;
  margin-top: 2px;
}

.form_group {
  display: block;
  margin-bottom: 1rem;
}
.form_input {
  position: relative;
}
.icon_helper {
  position: absolute;
  color: rgb(158, 158, 158);
  padding: 6px;
  font-size: 19px;
  left: 4px;
}
.error {
  font-size: 12px;
  color: red;
  margin: 8px;
}

.form_control {
  border: none;
  border-bottom: 2px solid rgb(224, 224, 224);
  padding: 10px 0 10px 45px;
  outline: none;
  font-size: 13px;
  transition: all 0.4s ease;
  width: 82%;
}
input:focus {
  border-bottom: 2px solid dodgerblue;
}
::placeholder {
  color: rgb(158, 158, 158);
}
.btn_submit {
  border: none;
  border-radius: 15px;
  background: dodgerblue;
  color: white;
  display: block;
  width: 100%;
  cursor: pointer;
  height: 37px;
  margin-top: 2.2rem;
  font-weight: 500;
  outline: none;
  transition: all 0.3s cubic-bezier(0.165, 0.2, 0.75, 1);
}
.btn_submit:hover {
  background: rgb(16, 80, 143);
}

.loaderContainer {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  position: relative;
}
.loader div {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: dodgerblue;
  position: absolute;
  animation: spinnerAnimation 1.2s linear infinite;
}
.loader div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: dodgerblue;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}
/*Dashboard*/
.title_user {
  color: rgb(5, 5, 170);
  font-size: 23px;
  font-weight: bold;
  margin: 5px 0 3px 0;
}

.app_container {
  display: block;
  width: 95%;
}
@media screen and (min-width: 768px) {
  .app_container {
    display: grid;
    grid-template-columns: 20% 87%;
  }
}
.main_container {
  width: 90%;
  padding: 0 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .main_container {
    padding: 1rem 2rem;
    grid-column: 2 / 3;
    margin-bottom: 0;
  }
}
.subtitle {
  font-size: 12px;
  color: var(--grey);
}

/*Sidebar*/
.sidebar {
  background-color: var(--sidebar);
  color: #fff;
  overflow: hidden;
  border-radius: 0 15px 15px 0;
}
@media screen and (min-width: 768px) {
  .sidebar {
    flex-direction: column;
    position: fixed;
    min-height: 100vh;
    width: 5%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .sidebar.active {
    width: 19%;
  }
}

.sidebar ul {
  list-style: none;
  margin: 0 !important;
  padding: 0;
  width: 90%;
}

.sidebar ul li,
.sidebar ul a {
  width: 100%;
  cursor: pointer;
  padding: 20px 30px;
  transition: all 0.2s ease;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.sidebar ul a {
  display: block;
  width: 100%;
}
.sidebar ul li:hover,
.sidebar ul a:hover,
.dropdown_click.active {
  background: rgb(3, 65, 122);
}
.sidebar_icon {
  margin-right: 14px;
  font-size: 25px;
}
.img_container {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.img_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #fff;
  object-fit: fill;
}
.sidebar__footer {
  width: 100%;
  background: var(--sidebar_footer);
  display: none;
}

.sidebar__footer .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}
@media screen and (min-width: 768px) {
  .sidebar__footer {
    display: block;
  }
}
.user {
  display: flex;
  align-items: center;
}
.sidebar__footer span {
  font-size: 12px;
}
.sidebar__header {
  padding: 12px 25px;
  margin-bottom: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.sidebar__header h3 {
  font-size: 1.25rem;
  width: 60%;
}
.hamburger {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
}
.config {
  background: none;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.config:hover {
  color: var(--config);
}
ul.dropdown {
  height: 0px;
  margin: 0 0 0 30px;
  width: 100%;
  padding: 0 1.5rem;
  overflow: hidden;
  transition: all 0.4s ease;
}

.dropdown_click {
  display: flex;
  justify-content: space-between;
}
.dropdown_icon {
  margin-right: 28px;
  transition: all 0.4s ease;
}
.dropdown_icon.rotate {
  transform: rotate(180deg);
}
/*charts and data*/
.graphics {
  width: 100%;
  margin-top: 20px;
  height: auto;
  margin-left: 0;
}
.flex_chart_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

@media screen and (min-width: 900px) {
  .flex_chart_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.chart_container_title {
  font-size: 35px;
  margin: 7px 0 30px 0;
}
.bar_chart {
  flex: 1;
}
.doughnut_chart {
  flex: 1;
  order: -1;
}
.line_chart {
  flex: 1;
}
@media screen and (min-width: 768px) {
  .bar_chart {
    flex: 0 0 calc(38%);
  }
  .doughnut_chart {
    flex: 0 0 calc(20%);
  }
  .line_chart {
    flex: 1;
  }
}
@media screen and (min-width: 1025px) {
  .bar_chart {
    flex: 0 0 calc(60%);
  }
  .doughnut_chart {
    flex: 0 0 calc(28%);
    order: 0;
  }
  .line_chart {
    flex: 5;
  }
}

.chart {
  padding: 1rem 1.4rem;
  border-radius: 10px;
  margin-bottom: 4rem;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
.chart:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .chart {
    margin-bottom: 2rem;
  }
}
.chart h3 {
  margin-bottom: 1.4rem;
  color: rgb(7, 25, 107);
  font-size: 1.3rem;
  margin-top: 0.4rem;
}
/*Table*/
.table__container {
  flex: 4;
  max-height: 355px;
  margin-right: 0;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .table__container {
    margin-right: 1.8rem;
    margin-bottom: 0;
  }
}
.table {
  height: 100%;
  width: 100%;
  text-align: center;
}

.table__title {
  border-bottom: 2px solid var(--purple);
  text-align: center;
  border-radius: 8px 8px 0 0;
}
.table,
th,
td {
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 1rem;
}
.table th {
  border-bottom: 2px solid var(--purple);
  color: rgb(41, 40, 40);
  font-size: 14px;
}
.table td {
  font-size: 14px;
}
.table__row_background {
  background: #ccc;
}
/*Counters*/
.counters {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .counters {
    flex-direction: row;
  }
}
.counter {
  padding: 0.7rem 1.5rem;
  flex: 0 0 calc(24% - 3rem);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .counter {
    flex: 1;
    margin: 0 4px 10px 4px;
  }
}

.counter_1 {
  background: var(--purple);
}

.counter_2 {
  background: rgb(66, 84, 185);
}
.counter_3 {
  background: rgb(230, 183, 57);
}
.counter_4 {
  background: rgb(250, 112, 146);
}

.icon i {
  font-size: 38px;
}
.counter_data {
  text-align: right;
}
.counter_title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
.counter_subtitle {
  font-size: 12px;
  font-weight: bold;
}
/*Profile*/
.profile__data {
  margin-top: 4.3rem;
}
.group {
  margin-bottom: 1.52rem;
}
.group label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(37, 37, 37);
}
.group input,
.group textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem 0.7rem;
  outline: none;
  width: 84%;
}
.group textarea {
  resize: none;
}
.group__description {
  display: block;
  font-size: 12px;
  margin-top: 3px;
  color: var(--grey);
}

.user__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  background-color: #ccc;
  width: max-content;
  padding: 1rem 3rem 1rem 1.3rem;
  border-radius: 8px;
}
.user__header__data {
  display: flex;
  flex-direction: column;
}

.user__header__title {
  font-size: 1.3rem;
  margin-bottom: 3px;
}
.user__header__subtitle {
  color: rgb(39, 39, 39);
}
.user__header .img_container {
  width: 4rem;
  height: 4rem;
}
.user__header .img_container img {
  border: 2px solid rgb(88, 88, 88);
}
.grid__data {
  display: grid;
  grid-template-columns: 65% 35%;
}
.user__avatar .img_container {
  width: 9.3rem;
  height: 9.3rem;
}
.user__avatar .img_container img {
  border: 2px solid rgb(88, 88, 88);
}
.avatar__title {
  font-size: 17px;
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}
